:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}
.header,
.footer {
  background-color: #1f2937;
}
.heading {
  display: flex;
  justify-content: space-between;

  gap: 10px;
  padding: 5em 0;
}
.heading-text,
.heading-img {
  flex: 1;
}
.heading-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.heading-title {
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
}
.heading-paragraph,
.footer,
.link {
  font-size: 18px;
  color: #e5e7eb;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  display: flex;
}

.item {
  margin-left: 1em;
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo,
.heading-title {
  color: #f9faf8;
}
.logo {
  font-size: 24px;
  font-weight: 700;
}
.btn {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 600;
  padding: 0.4em 1.9em;
}
.btn-header {
  border: transparent;
}
.btn-cta {
  border: 1px solid #f9faf8;
}
.btn,
.preview-img {
  border-radius: 8px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 22em;
}
.previews {
  display: flex;
}
.preview-box {
  margin-top: 0;
  width: 8em;
  height: 16em;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
}
.preview-img {
  display: flex;
  align-items: center;
  height: 8em;
  border: 3px solid #3882f6;
  margin-bottom: 1em;
}
.quote {
  display: flex;
  flex-direction: column;
  padding: 6em 7em;
  background-color: #e5e7eb;
}
.quote-text {
  font-size: 24px;
  font-weight: 100;
}
.quote-author {
  margin-left: auto;
}
